<configuration>
        <system.webServer>
            <staticContent>
                <remove fileExtension=".mem"/>
                <mimeMap fileExtension=".mem" mimeType="application/octet-stream"/>
                <remove fileExtension=".data"/>
                <mimeMap fileExtension=".data" mimeType="application/octet-stream"/>
                <remove fileExtension=".memgz"/>
                <mimeMap fileExtension=".memgz" mimeType="application/octet-stream"/>
                <remove fileExtension=".datagz"/>
                <mimeMap fileExtension=".datagz" mimeType="application/octet-stream"/>
                <remove fileExtension=".unity3dgz"/>
                <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream"/>
                <remove fileExtension=".jsgz"/>
                <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8"/>
            </staticContent>
        </system.webServer>
</configuration>